#research-inspo, #frameworks, #media, #forms{
  padding:20px;
  padding-left:50px;
  padding-right:50px;
  font-size:18px;
}
#frameworks{
  padding-left:35px;
}
h2{
  padding:30px;
  background-color: #135F72;
  color:white;
  font-size: 30px;
  text-align:center;
  margin:auto;
}
#forms a{
  color:black;
}
#forms a:hover{
  background: none;
  color:#135F72;
}
